<nav class="navbar navbar-dark align-items-start sidebar sidebar-dark accordion text-center p-0 m-0 ">
    <div class="container-fluid d-flex flex-column">
      <a class="navbar-brand d-flex justify-content-center align-items-center sidebar-brand m-0" href="#">
        <div class="sidebar-brand-icon rotate-n-15"><i class="bi bi-lightbulb"></i></div>
        <div class="sidebar-brand-text mx-3"><span>Elab</span></div>
      </a>
      <hr class="sidebar-divider my-0">
      <ul class="nav navbar-nav text-light w-100 text-center ml-auto " id="accordionSidebar">
        <li class="nav-item"><a class="nav-link" routerLink="/enseignant/calender"><i class="fa fa-home"></i> Accueil</a></li>
        <li class="nav-item" >
          <a class="nav-link" data-toggle="collapse" data-bs-toggle="collapse" data-bs-target="#collapseTwo"
              aria-expanded="false" aria-controls="collapseTwo" id="headingTwo">
            <i class="fa fa-book"></i> Cours </a>
          <ul class="nav-item collapse accordion-body accordion-collapse"  id="collapseTwo" aria-labelledby="headingTwo">
            <li class="nav-item"><a class="nav-link" routerLink="/enseignant/list-cours"><i class="fa fa-folder-open" aria-hidden="true"></i> Supports du cours </a></li>

            <li class="nav-item">
              <a class="nav-link" data-bs-toggle="collapse" data-bs-target="#collapseSix" data-toggle="collapse" aria-expanded="false" aria-controls="collapseOne" id="headingSix">
              <i class="fa fa-book"></i> Devoirs </a>
                  <ul class="nav-item collapse" id="collapseSix" aria-labelledby="headingSix">
                    <li class="nav-item"><a class="nav-link" routerLink="/enseignant/list-exercice"><i class="fa fa-folder-open" aria-hidden="true"></i> Exercices </a></li>
                    <li class="nav-item"><a class="nav-link" routerLink="/enseignant/list-examen"><i class="fa fa-folder-open" aria-hidden="true"></i> Examens </a></li>
                  </ul>
           </li>
          </ul>
        </li>


        <li class="nav-item" >
          <a class="nav-link" data-bs-toggle="collapse" data-bs-target="#collapseFor"
             data-toggle="collapse" aria-expanded="false" aria-controls="collapseOne" id="headingFor">
            <i class="fas fa-chalkboard-teacher"></i>Gestion des élèves  </a>
          <ul class="nav-item collapse"  id="collapseFor" aria-labelledby="headingFor">
            <li class="nav-item"><a class="nav-link" routerLink="/enseignant/list-eleve" ><i class="fa fa-users"></i>Groupes </a></li>
            <li class="nav-item"><a class="nav-link" routerLink="/dashboard/list"><i class="fa fa-sort-numeric-up" aria-hidden="true"></i>Notes </a></li>
            <li class="nav-item"><a class="nav-link" routerLink="/enseignant/list-remarque"><i class="fa fa-pen-square" aria-hidden="true"></i> Remarques </a></li>

          </ul>
        </li>

        <li class="nav-item"><a class="nav-link" routerLink="/enseignant/payement"><i class="fa fa-eur"></i><span> Horaires enseignants</span></a></li>

      </ul>
      <div class="text-center d-none d-md-inline">
        <button class="btn rounded-circle border-0" id="sidebarToggle" type="button" (click)="onclick()"></button>
      </div>
    </div>

  </nav>
