
<div class="mt-3 my-ng-fullcalendar">
  <full-calendar #calender [options]="calendarOptions" ></full-calendar>
</div>





<p-dialog header="Détails" [(visible)]="displayBasic2" [draggable]="false" [modal]="true" [style]="{width: '50vw'}" [baseZIndex]="10000">
  <form [formGroup]="modifier">
    <div class="mb-3">
      <label class="form-label">Titre</label>
      <input type="text" class="form-control" formControlName="nom"  disabled [(ngModel)]="titre" >
    </div>


      <div class="mb-3">
        <label class="form-label">Groupe</label>
        <input type="text" class="form-control" formControlName="groupe" disabled [(ngModel)]="groupe">
      </div>

      <div class="mb-3">
        <label class="form-label">Enseignant</label>
        <input type="text" class="form-control" formControlName="enseignant" disabled [(ngModel)]="fullname">
      </div>

    <div class="mb-3">
      <label class="form-label">Date</label>
      <input type="date" class="form-control" [ngModel]="dt1 | date:'yyyy-MM-dd'" disabled formControlName="date" >
    </div>
    <div class="row">
      <div class="mb-3 col-lg-6">
        <label class="form-label">Début</label>
        <input type="text" class="form-control"  formControlName="heuredebut"  disabled [(ngModel)]="debut" >
      </div>
      <div class="mb-3 col-lg-6">
        <label class="form-label">Fin</label>
        <input type="time" class="form-control" formControlName="heurefin" disabled [(ngModel)]="fin">
      </div>
    </div>
    <div class="mb-3 text-right">
      <button class="btn btn-info " (click)="onNavigate()">Participer à la séance </button>
    </div>
  </form>
</p-dialog>

